body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  #container {
    width: 350px;
    margin: 100px auto;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    border: 2px solid black;
  }
  
  h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: black;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type="text"]:focus,
  input[type="password"]:focus {
    border-color: #E9D8E8;
  }
  
  .error {
    color: #d9534f;
    margin-bottom: 10px;
  }
  
  #loginButton {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #958DB9;
    color: black;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    border: 2px solid black;
  }
  
  #loginButton:hover {
    background-color: #564E7E;
  }
  
  
  
  